.all-files {
    padding: 30px 9%;
}

.title {
    margin-left: 1.3%;
}

.panels-area {
    display: table;
    margin-top: 20px;
    width: 100%;
}

.panels-area:after {
    content: "";
    clear: both;
}

#seeMoreButton {
    font-weight: bold;
    display: block;
    margin: 2% auto;
    background-color: #30e3ca;
    color: black;
}