* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 3px;
}

.nav-white {
    display: flex;
    justify-content: space-between;
    min-height: 8vh;
    align-items: center;
    padding: 30px 10%;
}

.nav-black {
    background-color: #222831;
    color: white;
    display: flex;
    justify-content: space-between;
    min-height: 8vh;
    align-items: center;
    padding: 30px 10%;
}

.nav-links li {
    display: inline-block;
    padding: 0 15px;
    font-weight: bolder;
}

.logo {
    font-size: 26px;
}

.logo:hover {
    cursor: pointer;
}

.md {
    text-decoration: underline;
    text-decoration-color: #30e3ca;
}

.username {
    color: #30e3ca;
}

.nav-button {
    height: 40px;
}
