.note-card-list-wrapper {
    height: 500px;
    overflow-y: auto;
}

.note-card {
    background-color: #393e46;
    color: white;
    padding: 25px;
    margin-bottom: 4px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.note-card:hover {
    cursor: pointer;
    background-color: #363a40;
}

