.recent-files-white {
    padding: 30px 9%;
    background-color: white;
}

.title {
    margin-left: 1.3%;
}


.panels-area {
    display: flex;
    margin-top: 20px;
}

.recent-files-black {
    padding: 30px 9%;
    background-color: #222831;
    color: white;
}

