.create-note-page {
    margin: 5% 10%;
}

.new-note-form {
    position: relative;
    padding: 50px 2% 0;
}

.note-input-wrapper {
    margin: 5px 0;
}

#submit-note-button{
    margin-top: 10px;
    position: absolute;
    right: 2%;
    font-weight: bold;
    background-color: #30e3ca;
    color: black;
}

.notification {
    padding: 0 10%;
}

.close-create-note-drawer-wrapper {
    width: 100%;
    text-align: right;
    padding: 10px;
}

.create-note-markdown-display {
    width: 50%;
    height: calc(100vh - 48px);
    float: right;
    padding: 0 2%;
    overflow-y: auto;
}

.create-note-markdown-textfield {
    width: 50%;
    float: left;
}

.create-note-markdown-textfield .css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root {
    height: calc(100vh - 48px) !important;
}

.create-note-markdown-textfield .css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input {
    height: calc(98vh - 48px) !important;
    overflow-y: auto !important;
}

.css-n6v7qi-MuiPaper-root-MuiDrawer-paper {
    width: 100% !important;
}

