.display-note-page {
    margin: 5% 10%;
}

.display-note-page-title {
    display: inline-block;
    border-radius: 5px;
    /* padding: 2px 5px; */
    margin-bottom: 7px;
}

.display-note-tag {
    background-color: #393e46;
    color: white;
    margin: 0 5px 0 0;
    padding: 1px 4px 4px 6px;
    border-radius: 2px;
}

.display-note-tag:hover {
    color: white;
}

.display-note-page .separator {
    margin: 50px 0 0 0;
}

/* markdown */
.react-markdown {
    margin: 4% 0;
}