.brand-area {
    background-color: #393e46;
    width: 100%;
    text-align: center;
}

.login-page-title {
    color: #ffffff;
}

.brand-title {
    padding-top: 15%;
    padding-bottom: 5%;
}

.md {
    text-decoration: underline;
    text-decoration-color: #30e3ca;
}

.fields-area {
    padding-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.create-account-container {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

#login-button {
    height: 55px;
    width: 60px;
}