.profilePage-wrapper-white {
    height: 100vh;
    background-color: white;
    color: black;
}

.profilePage{
    margin: 5% 10%;
}

.user-card {
    float: left;
    width: 50%;
}

.image {
    float: left;
    margin-right: 15px;
}
.nameDisplay {
    display: table-cell;
    padding-top: 20px;
}

.name {
    display: inline-block;
    margin-bottom: 15px;
}

.nameCheckmark {
    display: inline-block;
    padding-left: 2px;
    transform: translateY(15%);
    color: #1da1f2;
}

.user-card-stat {
    display: inline-block;
    width: 50%;
    padding: 25px 0 0 50px;
}

.clearFloat {
    clear: both;
    margin-bottom: 25px;
}

/* Black Theme */

.profilePage-wrapper-black {
    height: 100vh;
    background-color: #222831;
    color: white;
}

