* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 3px;
}

nav {
    display: flex;
    justify-content: space-between;
    min-height: 8vh;
    align-items: center;
    padding: 30px 10%;
}

.nav-links li {
    display: inline-block;
    padding: 0 15px;
    font-weight: bolder;
}

.logo {
    font-size: 26px;
}

.md {
    text-decoration: underline;
    text-decoration-color: #30e3ca;
}

.username {
    color: #30e3ca;
}

.avatar {
    display: flex;
    vertical-align: text-bottom;
}
