.panel {
    background-color: #e4f9f5;
    width: 260px;
    height: 100px;
    border-radius: 10px;
    margin-right: 30px;
}

.background-title {
    background-color: #30e3ca;
    font-size: 13px;
    padding: 10px 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
